/* Farver
    * Baggrund:      #ffffff    rgb(255, 255, 255)
    * Tekst:         #666666    rgb(102, 102, 102)
    * Overskrifter:  #333333    rgb(51, 51, 51)
    * Links:         #b63333    rgb(182, 51, 51)
    * 
    * Knapper:       #b63333    rgb(182, 51, 51)
    * Knapper-hover: #537b8d    rgb(83, 123, 141)
    * 
    * Highlight bg:  #537b8d    rgb(83, 123, 141)

 

/*  Default fonts, colors and styles
	* --------------------------------------- */
    @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');


    html {
        overflow-y: scroll;
    }

    body {
        font-family: sans-serif;
        background-color: white;
        margin: 0;
    }

    h1, h2, h3 {
        font-family: 'Oxygen', sans-serif;
        color: #333333;
    }

    h1.title {
        font-size: 3em;
    }

    p {
        color: #666666
    }

    a, a:visited {
        color: #b63333;
        text-decoration: none;
    }

    .bold {font-weight:700}
    .uppercase {text-transform:uppercase}
    .black {color:#000000}

/*  Centrering
	* --------------------------------------- */
    div.center {margin:auto}
    p.center, a.center, h1.center, h2.center, h3.center {text-align:center}
    .centerwidth {margin:auto;max-width:1080px}
    .vertical-center {
        position: relative;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

/*  "Forside"
	* --------------------------------------- */
    #frontpage {
        padding: 8px;
        margin: 0;
        background: url(../img/mountain.jpg) center;
        height: 100vh;
        max-height: 1000px;
    }
    #frontpage p {
        background: rgba(255,255,255,.4);
        padding: 50px;
    }

/*  Menu
	* --------------------------------------- */
    .menu-flex {
        display: flex;
        width: 100%;
        min-height: 3em;
    }

    .menu-flex-link, .menu-flex-link:visited {
        color: #333333;
        background: #b63333;
        font-family: 'Oxygen', sans-serif;
        font-size: 1.2em;
        text-align: center;
        padding: 12px;;
        width: 33%;
        border: white 2px solid;
    }
    .menu-flex-link:hover {
        background: #537b8d;
        color: #000000;
    }

/*  Siden
	* --------------------------------------- */
    .page {
        margin: 8px;
    }

/*  Sidefod
	* --------------------------------------- */
    #footer {
        background: #333333;
        color: #000000;
        padding: 16px;
    }

    .logo .icon {
        float: left;
        padding-right: 4px;
    }
    .logo .text {
        font-family: 'Oxygen', sans-serif;
        font-size: 15px;
    }

    .disclaimer {
        visibility: visible;
        font-style: italic;
        font-size: .5em;
        display: inline-block;
        margin-left:.4em 
    }
    .disclaimer::before {
        clear: both;
    }